apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    creator: adhoctestingenvironments
  name: testwzei
spec:
  selector:
    matchLabels:
      app: testwzei
  template:
    metadata:
      labels:
        app: testwzei
    spec:
      containers:
      - env:
        - name: PathBase
          value: endpoint/testwzei
        - name: ConnectionStrings__SampleWebAppContext
          value: Server=localhost;Port=5432;Database=test;User Id=postgres;Password=verysecret
        - name: DatabaseTech
          value: NpgSql
        image: claudeglauser/sample-webapp:latest
        name: testwzei
      - env:
        - name: POSTGRES_PASSWORD
          value: verysecret
        image: postgres
        name: testwzeipsql
        volumeMounts:
        - mountPath: /docker-entrypoint-initdb.d
          name: initscript
      volumes:
      - configMap:
          name: testwzei
        name: initscript